presidio-analyzer
presidio-anonymizer
spacy
streamlit
requests
python-docx
fastmcp
Pillow
cachetools
azure-cosmos
python-dotenv
httpx
mcp
azure-storage-blob
google-api-python-client
google-auth
cryptography
